ul {
    list-style: none;
    padding-inline-start: 15px !important;
}

.Reaction{
    background: rgba(255, 246, 246);
    height: 56px;
    max-width: 288px;
    border-radius: 15px;
    display: flex;
    align-items: center ;
    margin: 10px;
    color: #FF5555;
    font-family: 'Hanken Grotesk', sans-serif;
    flex: 1 0 50%;
}

.rayoiconconteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rayoicon{
    margin: 20px;
}

.Memory{
    background:  rgba(255,251,230);
    height: 56px;
    max-width: 288px;
    border-radius: 12px;
    display: flex;
    align-items: center ;
    margin: 10px;
    color: #FFB21E;
    font-family: 'Hanken Grotesk', sans-serif;
}

.brainiconcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brainicon{
    margin: 20px;
}

.Verbal{
    background: rgb(242, 252, 249);
    height: 56px;
    max-width: 288px;
    border-radius: 12px;
    display: flex;
    align-items: center ;
    margin: 10px;
    color: #00BB8F;
    font-family: 'Hanken Grotesk', sans-serif;
}

.chaticoncontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chaticon{
    margin: 20px;
}


.Visual{
    background: rgb(243, 244, 253);
    height: 56px;
    max-width: 288px;
    border-radius: 12px;
    display: flex;
    align-items: center ;
    margin: 10px;
    color: #1125D6;
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: medium !important;
}


.eyeiconcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eyeicon{
    margin: 20px;
}

.calification-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.valorcambiante{
    margin-right: 10px;
    color: black;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
    font-size: 18px;
    
}

.valorneutro{
    margin-right: 10px;
    font-size: 18px;
    color: #303B59;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: bold;
    opacity: .5;
}